
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
      
      <ion-button color="black" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title size="medium">France City</ion-title>
      </ion-row>
    </ion-toolbar>

  </ion-header>
    
  <ion-chip color="primary" routerLink="/city-det/Paris/Alten-France-Ge-613050214.png">
   
    <ion-label >Paris</ion-label>
  
  </ion-chip>
  <ion-chip color="secondary"  routerLink="/city-det/Lile/34400G.jpg">
    <ion-label>Lile</ion-label>
  </ion-chip>
  <ion-chip color="tertiary"  routerLink="/city-det/Toulouse/istockphoto-1127283516-612x612.jpg">
    <ion-label>Toulouse</ion-label>
  </ion-chip>
  <ion-chip color="success"  routerLink="/city-det/Nice/istockphoto-1127283516-612x612.jpg">
    <ion-label>Nice</ion-label>
  </ion-chip>
  <ion-chip color="warning"  routerLink="/city-det/Lyon/34400G.jpg">
    <ion-label>Lyon</ion-label>
  </ion-chip>
  <div id="container">
    
  </div>
</ion-content>

