
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
      
      <ion-button color="black" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title size="medium">Moroccan City</ion-title>
      </ion-row>
    </ion-toolbar>

  </ion-header>
    
  <ion-chip color="primary" routerLink="/city-det/oujda/5ebc09112553d_oujda-ville-infos-tourisme-maroc.jpg">
   
    <ion-label >Oujda</ion-label>
  
  </ion-chip>
  <ion-chip color="secondary"  routerLink="/city-det/Rabat/csm_csm-frs-iberia-destinos-rabat_06cdf5682b.jpg">
    <ion-label>Rabat</ion-label>
  </ion-chip>
  <ion-chip color="tertiary"  routerLink="/city-det/Fes/Chefchaouen-Morocco.jpg">
    <ion-label>Fes</ion-label>
  </ion-chip>
  <ion-chip color="success"  routerLink="/city-det/Meknes/Chefchaouen-Morocco.jpg">
    <ion-label>Meknes</ion-label>
  </ion-chip>
  <ion-chip color="warning"  routerLink="/city-det/Berkane/Chefchaouen-Morocco.jpg">
    <ion-label>Berkane</ion-label>
  </ion-chip>
  <div id="container">
    
  </div>
</ion-content>
