
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-row>
      
      <ion-button color="black" href="/home"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title size="medium">Moroccan City</ion-title>
      </ion-row>
    </ion-toolbar>

  </ion-header>
    
 
  <ion-card routerLink="/city-det/oujda/5ebc09112553d_oujda-ville-infos-tourisme-maroc.jpg">
    <img src="assets/images/5ebc09112553d_oujda-ville-infos-tourisme-maroc.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Oujda</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/city-det/Rabat/csm_csm-frs-iberia-destinos-rabat_06cdf5682b.jpg">
    <img src="assets/images/csm_csm-frs-iberia-destinos-rabat_06cdf5682b.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Rabat</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/city-det/Fes/Chefchaouen-Morocco.jpg">
    <img src="assets/images/5ebc09112553d_oujda-ville-infos-tourisme-maroc.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Fes</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
 
  <ion-card routerLink="/city-det/Meknes/Chefchaouen-Morocco.jpg">
    <img src="assets/images/Chefchaouen-Morocco.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Chefchaouen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card routerLink="/city-det/Berkane/Chefchaouen-Morocco.jpg">
    <img src="assets/images/Chefchaouen-Morocco.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Berkane</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

 
  <div id="container">
    
  </div>
</ion-content>
