

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Voyage</ion-title>
      <ion-button color="black" href="/reservation"><ion-icon name="albums-outline"></ion-icon></ion-button>

    </ion-toolbar>

  </ion-header>
    <ion-card>
      <img src="assets/images/morocco.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-row>
        <ion-card-title>Morocco</ion-card-title>
        
      </ion-row>
      </ion-card-header>
      <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quia omnis aperiam, dolorum adipisci 
            ducimus architecto tempore voluptatibus nam, quod suscipit aspernatur quos aut non reiciendis iure ipsam enim est.  
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quia omnis aperiam, dolorum adipisci 
            ducimus .
              
              <ion-button expand="full" color="secondary" href="/city">Visite</ion-button>
              
      </ion-card-content>
      
    </ion-card>
    <ion-card>
      <img src="assets/images/Alten-France-Ge-613050214.png" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-row>
        <ion-card-title>France</ion-card-title>
      </ion-row>
      </ion-card-header>
      <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quia omnis aperiam, dolorum adipisci 
            ducimus architecto tempore voluptatibus nam, quod suscipit aspernatur quos aut non reiciendis iure ipsam enim est.  
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quia omnis aperiam, dolorum adipisci 
            ducimus .
              
              <ion-button expand="full" color="secondary" href="/france">Visite</ion-button>
              
      </ion-card-content>
      
    </ion-card>
  <div id="container">
    
  </div>
</ion-content>
